{% extends 'base.html.twig' %}
{% block body %}

    {# DIPLAY DEFAULT LANGUAGE IN URL WHEN LANDING ON PAGE #}
    {#{% if app.request.locale is not defined or app.request.locale == '' %}
        {% set app.request.locale == 'en' %}
    {% else %}
        {% set app.request.locale == 'fr' %}
    {% endif %}#}

    {# NAVIGATION #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">

        {# TODO: STYLE SWITCH BTN #}
        {% if app.request.locale == 'fr' %}
            <span class="switch-language">
                    <a class="btn" href="#">FR</a> /
                    <a class="btn" href="{{ app.request.baseUrl }}/en/">EN</a>
                </span>
        {% else %}
            <span class="switch-language">
                    <a class="btn" href="{{ app.request.baseUrl }}/fr/">FR</a> /
                    <a class="btn" href="#">EN</a>
                </span>
        {% endif %}
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Resume</span>



            <span class="d-none d-lg-block">
                <img
                  class="img-fluid img-profile rounded-circle mx-auto mb-2"
                  src="{{ asset("img/profile.jpg") }}">
            </span>
        </a>

        {# TODO: FIX NAVBAR ON MOBILE #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
                </li>
            </ul>
        </div>
    </nav>

    {# PROFILE #}
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">David
                    <span class="text-primary">Dabo</span>
                </h1>

                {# INFOS #}
                <div class="subheading mb-5">
                    Avenue du temple 24D<br>
                    1012 Lausanne - Vaud - {{ "ch"|trans }}<br>
                    (+41) 79 729 30 76<br>
                    <a href="mailto:name@email.com">david.dabo.pro@gmail.com</a><br>
                </div>
                <p class="mb-5">
                    {{ "text.resume"|trans }}
                </p>

                {# LANGUAGE #}
                <p class="mb-5">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset("img/fr.png") }}"><br>
                        <i class="fa fa-star ranking"></i>
                        <i class="fa fa-star ranking"></i>
                        <i class="fa fa-star ranking"></i>


                    </div>

                    <div class="col-md-4">
                        <img src="{{ asset("img/en.png") }}"><br>
                        <i class="fa fa-star ranking"></i>
                        <i class="fa fa-star ranking"></i>


                    </div>

                    <div class="col-md-4">
                        <img src="{{ asset("img/de.png") }}"><br>
                        <i class="fa fa-star ranking"></i>
                    </div>
                </div>
                </p>

                {# FACEBOOK #}
                <ul class="list-inline list-social-icons mb-0">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>

                    {# TWITTER #}
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>

                    {# LINKEDIN #}
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>

                    {# GITHUB #}
                    <li class="list-inline-item">
                        <a href="https://github.com/Dd-1664" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">{{ "dev.web"|trans }}</h3>
                        <div class="subheading mb-3">GeneralMedia SA, Lausanne.</div>
                        <p>{{ "1year.gm"|trans }}</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2017 - 2018</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">{{ "supp.tech"|trans }}</h3>
                        <div class="subheading mb-3">VTX Télécom SA, Lausanne.</div>
                        <p>{{ "1year.vtx"|trans }}</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">2017 - 2016</span>
                    </div>
                </div>
            </div>

        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>

                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">University of Colorado Boulder</h3>
                        <div class="subheading mb-3">Bachelor of Science</div>
                        <div>Computer Science - Web Development Track</div>
                        <p>GPA: 3.23</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2006 - May 2010</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">James Buchanan High School</h3>
                        <div class="subheading mb-3">Technology Magnet Program</div>
                        <p>GPA: 3.56</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2002 - May 2006</span>
                    </div>
                </div>

            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>

                {# TODO: maybe include ranking stars #}

                <div class="subheading mb-3">Programming Languages &amp; CMS</div>
                <ul class="list-inline list-icons">
                    <li class="list-inline-item">
                        <i class="devicons devicons-html5"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-css3"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-php"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-javascript"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-jquery"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-sass"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-wordpress"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-drupal"></i>
                    </li>
                </ul>

                <div class="subheading mb-3">Frameworks and Tools</div>
                <ul class="list-inline list-icons">
                    <li class="list-inline-item">
                        <i class="devicons devicons-symfony"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-bootstrap"></i>
                    </li>
                         <li class="list-inline-item">
                        <i class="devicons devicons-grunt"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-npm"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-docker"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-webpack"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-git"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-github"></i>
                    </li>
                </ul>

                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Browser Testing  Debugging
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Functional Teams
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development  Scrum
                    </li>
                </ul>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid
                    skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking,
                    free climbing, and kayaking.</p>
                <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television
                    shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest
                    technolgy advancements in the front-end web development world.</p>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
            <div class="my-auto">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Google Analytics Certified Developer
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Mobile Web Specialist - Google Certification
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - University of Colorado Boulder - Emerging Tech Competition 2009
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        2<sup>nd</sup>
                        Place - University of Colorado Boulder - Emerging Tech Competition 2008
                    </li>
                    <li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        1<sup>st</sup>
                        Place - James Buchanan High School - Hackathon 2006
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        3<sup>rd</sup>
                        Place - James Buchanan High School - Hackathon 2005
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock body %}
